openapi: 3.0.3
info:
  title: Streamkap Authentication Kafka Access API
  description: Representative specification of the Streamkap REST API for provisioning and operating real-time streaming ETL / change data capture (CDC) infrastructure built on Apache Kafka and Apache Flink. Covers sources, destinations, pipelines, connectors, transforms, topics, tags, Kafka access, and authentication. Endpoints and shapes are modeled from the public Streamkap API reference; consult docs.streamkap.com for the authoritative, complete contract.
  termsOfService: https://streamkap.com/terms
  contact:
    name: Streamkap Support
    url: https://streamkap.com/contact
  version: '1.0'
servers:
- url: https://api.streamkap.com/api
  description: Streamkap production API
security:
- bearerAuth: []
tags:
- name: Kafka Access
  description: Manage Kafka users and permissions.
paths:
  /kafka-access/users:
    get:
      operationId: listKafkaUsers
      tags:
      - Kafka Access
      summary: List Kafka users.
      responses:
        '200':
          description: A list of Kafka users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KafkaUser'
    post:
      operationId: createKafkaUser
      tags:
      - Kafka Access
      summary: Create a new Kafka user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaUserInput'
      responses:
        '201':
          description: Kafka user created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaUser'
components:
  schemas:
    KafkaUserInput:
      type: object
      required:
      - username
      properties:
        username:
          type: string
        acls:
          type: array
          items:
            type: object
    KafkaUser:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        acls:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from POST /authentication/access-token by exchanging a client-id and secret (or a project key). Passed as Authorization: Bearer <token>.'
