openapi: 3.0.3
info:
  title: Streamkap Authentication Pipelines API
  description: Representative specification of the Streamkap REST API for provisioning and operating real-time streaming ETL / change data capture (CDC) infrastructure built on Apache Kafka and Apache Flink. Covers sources, destinations, pipelines, connectors, transforms, topics, tags, Kafka access, and authentication. Endpoints and shapes are modeled from the public Streamkap API reference; consult docs.streamkap.com for the authoritative, complete contract.
  termsOfService: https://streamkap.com/terms
  contact:
    name: Streamkap Support
    url: https://streamkap.com/contact
  version: '1.0'
servers:
- url: https://api.streamkap.com/api
  description: Streamkap production API
security:
- bearerAuth: []
tags:
- name: Pipelines
  description: Manage CDC pipelines and their lifecycle.
paths:
  /pipelines:
    get:
      operationId: listPipelines
      tags:
      - Pipelines
      summary: List all pipelines with filtering.
      responses:
        '200':
          description: A list of pipelines.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pipeline'
    post:
      operationId: createPipeline
      tags:
      - Pipelines
      summary: Create a new pipeline.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineInput'
      responses:
        '201':
          description: Pipeline created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
  /pipelines/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getPipeline
      tags:
      - Pipelines
      summary: Retrieve specific pipeline details.
      responses:
        '200':
          description: Pipeline details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
    delete:
      operationId: deletePipeline
      tags:
      - Pipelines
      summary: Delete a pipeline.
      responses:
        '204':
          description: Pipeline deleted.
components:
  schemas:
    Pipeline:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        sourceId:
          type: string
        destinationId:
          type: string
        transformIds:
          type: array
          items:
            type: string
        status:
          type: string
    PipelineInput:
      type: object
      required:
      - name
      - sourceId
      - destinationId
      properties:
        name:
          type: string
        sourceId:
          type: string
        destinationId:
          type: string
        transformIds:
          type: array
          items:
            type: string
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from POST /authentication/access-token by exchanging a client-id and secret (or a project key). Passed as Authorization: Bearer <token>.'
